<!DOCTYPE html>
<html lang="en"

xmlns:th="www.thymeleaf.org"
xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><!--div>
<li sec:authorize="isAuthenticated()" class="nav-link text-warning" th:inline="text">Welcome [[${#authentication.name}]]!</--li>
    <li class="nav-item">
        <a sec:authorize="!isAuthenticated()" class="nav-link text-white" href="/login">Login</a>
    </li>
</li></div-->
<a href="/logout">logout</a>
<h4>email</h4>
<p th:text="${user.email}"></p><br/>
<h4>last name</h4>
<p th:text="${user.lastname}"></p>
</body>
</html>